pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.vscode
.clj-kondo
.lsp
sqlite3_endpoint/bin/sqlite3_endpoint.exe
jepsen/target
.calva
powersync_endpoint/libpowersync.so
powersync_endpoint/powersync.sqlite3*
powersync_endpoint/powersync_endpoint
