pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.vscode
.clj-kondo
.lsp
.calva
powersync_endpoint/libpowersync_x64.so
powersync_endpoint/powersync.sqlite3*
powersync_endpoint/powersync_endpoint
jepsen/store
jepsen/target
