.dockerignore
Dockerfile
build/
.dart_tool/
.git/
.github/
.gitignore
.idea/
.packages

# dart binaries
powersync_http
powersync_fuzz
libpowersync_x64.so

# sqlite3 files
powersync_http.sqlite3*
ps-*.sqlite3*

# log files
powersync_fuzz.log
